<ion-header>
  <ion-toolbar color="secondary">
    <ion-item lines="none" color="secondary">
      <ion-label>
        <h1><b>Broadcast</b></h1>
      </ion-label>
    </ion-item>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="loadList()">
        <ion-icon slot="icon-only" name="card"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addBroadcast()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content>