<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" *ngIf="postId!=='display'">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Broadcast</ion-title>
    <ion-buttons slot="end" *ngIf="postId!=='display'">
      <ion-button (click)="addBroadcastPost()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="loadList()">
        <ion-icon slot="icon-only" name="card"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="postId==='display'">
      <ion-button (click)="addBroadcast()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let broadcast of broadcasts">
    <ion-item (click)="view(broadcast._id)">
      <ion-label>
        <p><b>Start</b> : {{broadcast._startDate}}</p>
        <p><b>End</b> : {{broadcast._expDate}}</p>
      </ion-label>
      <ion-button fill="outline" slot="end" (click)='moreAction(broadcast._id)' *ngIf="postId==='display'">
        <ion-icon name="cog"></ion-icon>
      </ion-button>

      <!-- if add broadcast -->
      <ion-checkbox slot="end" *ngIf="postId!=='display'" (ionChange)="addCheckedToList($event,broadcast._id)"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>