<ion-header>
  <ion-toolbar color="secondary">
    <ion-avatar slot="start" class="ion-margin">
      <img src="{{profile}}">
    </ion-avatar>
    <ion-label>
      <h1><b>Newsfeed</b></h1>
      <p>{{name}}</p>
    </ion-label>
  </ion-toolbar>

  <!-- post menus -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="refreshAnnouncment()">
        <ion-icon slot="icon-only" name="card"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="writePost()">
        <ion-icon slot="icon-only" name="paper"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- actual content -->
  <ion-card *ngFor="let post of posts" (click)="viewPost(post.id)">
    <ion-item>
      <ion-avatar class="ion-margin-end">
        <img src='{{post._authorPic}}' />
      </ion-avatar>
      <ion-label>
        <h3><b>{{post._author}}</b></h3>
        <p>{{post._dateAdded}}</p>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>{{post._content}}</ion-card-content>
    <img src="{{post._fileData}}" *ngIf="post._type === 'IMAGE'" />

    <video controls width="100%" *ngIf="post._type === 'VIDEO'">
      <source type="video/mp4" [src]="post._fileData" />
    </video>
  </ion-card>

  <!-- infinte scroll area -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Pulling previous announcement...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>