<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!-- profile info -->
  <ion-list class="ion-margin-top">
    <ion-item-group>
      <ion-item lines="none">
        <ion-avatar style="margin:auto;height:100px;width:100px;">
          <img src='{{image}}' *ngIf="null!==image" />
          <img src='../../assets/profile.svg' *ngIf="null===image" />
        </ion-avatar>
      </ion-item>
      <ion-item>
        <b style="margin:auto;">{{fullname}}</b>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <!-- actual content -->
  <ion-card *ngFor="let post of posts">
    <ion-item>
      <ion-label>
        <h3 (click)="viewProfile(post._authorId)"><b>{{post._author}}</b></h3>
        <p>{{post._dateAdded}}</p>
      </ion-label>

      <ion-icon name="flag" slot="end" *ngIf="post._bookmarked"></ion-icon>
      <ion-icon name="cog" slot="end" (click)='moreAction(post._id,post._bookmarked)' *ngIf="isAdmin"></ion-icon>
    </ion-item>

    <ion-card-content *ngIf="post._content!=='null'">{{post._content}}</ion-card-content>
    <img src="{{post._fileData}}" *ngIf="post._type === 'IMAGE'" />

    <video controls width="100%" *ngIf="post._type === 'VIDEO'">
      <source type="video/mp4" [src]="post._fileData" />
    </video>
  </ion-card>

  <!-- infinte scroll area -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event,authorId)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Pulling previous announcement...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>