<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="logout">
  <ion-fab-button (click)="logout()">
    <ion-icon name="log-out"></ion-icon>
  </ion-fab-button>
</ion-fab>
<!-- tabs -->
<ion-tabs>
  <ion-tab-bar slot="bottom" color="secondary">
    <ion-tab-button tab="post">
      <ion-icon name="home"></ion-icon>
      <ion-text>Home</ion-text>
    </ion-tab-button>
    <ion-tab-button tab="broadcast">
      <ion-icon name="tv"></ion-icon>
      <ion-text>Broadcast</ion-text>
    </ion-tab-button>
    <ion-tab-button tab="people">
      <ion-icon name="contacts"></ion-icon>
      <ion-text>People</ion-text>
    </ion-tab-button>
    <ion-tab-button tab="notification">
      <ion-icon name="notifications"></ion-icon>
      <ion-text>Notification</ion-text>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>